

h1 {
    background-color: gold;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    background-color: goldenrod;
    color: salmon;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    background-color: aqua;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
